html, body {
    height: 100%;
    min-height: 100%;
}

#login-view {
    display : inline-flex;
}

.login-container {
    text-align: center;
    padding: 10px;
    margin: auto;

    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888888;
    width: 430px;
}

.studio-icon {
    width:20%;
    margin-left:-18px;
    margin-left: 0px;
}

.studio-icon img {
    width:50px;
    height:50px;
}

.more-options {
    cursor:pointer;
    width:50%;
    text-align:right;
    margin-left:15%;
    margin-top:37px;
    margin-bottom:10px;
}

.login-header-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
}

#login-form {
    position: relative;
}

.login-header {
    color: #221F72;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 38px;
}

.login-logo-image {
    width: 349px;
    height: 75px;
}

.login-font-normal {
    font-weight: normal;
}

.file-selector {
    cursor : pointer;
    font-size : 11px;
    margin-top : 6px;
    margin-bottom : 6px;
}

.login-form {
    font-size : 11px !important;
    background-color : #f0f0f0;
    border: 0px #f0f0f0 !important;
    box-shadow: inset 0 1px 1px rgba(198, 191, 189, 0);
    align : center;
}

.font-size-11 {
    font-size : 11px;
}

#login-view label {
    font-weight: bold !important;
    font-size: 12px;
    color: #221F72;
    float: left;
    width: 115px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#login-view .form-group {
    margin-bottom: 5px;
}

#login-view input {
    height: 25px !important;
}

#login-view .controls {
    position: relative;
    left: -40px;
}
