html, body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    min-height: 100%;
    height: 100%;
}

body {
    padding-top: 85px;
    padding-bottom: 5px;
}

footer {
    padding: 30px 0;
}

#preset-title {
    padding: 9px 10px;
    color: #50555b;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    display: table;
    line-height: 25px;
    cursor: default;
}

.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    max-width: -moz-max-content;
    max-width: -webkit-max-content;
    min-width: 20px;
    display: inline-block;
    vertical-align: middle;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .ellipsis{
        display: inline!important;
    }
}

@supports (-ms-accelerator:true) {
    /* IE Edge 12-15 CSS */
    ellipsis{
        display: inline!important;
    }
}

@supports (-ms-ime-align:auto) {
    /* IE Edge 16+ CSS */
    .ellipsis{
        display: inline!important;
    }
}

.ellipsis.dropdown-toggle{
    cursor: pointer;
}

#workflow-designer {
    min-height: 400%;
    min-width: 200%;
    position: relative;
}

#workflow-designer-outer {
    overflow: auto;
    border-radius: 5px;
    background-color: #eaedef;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    min-width: 200px;
    min-height: 100%;
    height: 100%;
    position: relative;
    outline: none;
}

#left-panel-properties {
    height: 100%;
    min-width: 300px;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#properties-container {
    height: 100%;
    max-height: 100%;
    min-width: 320px;
    overflow: auto;
    resize: horizontal;
    z-index: 100;
    position: relative;
    background-color: #ffffff;
}

.breadcrumb {
    position: sticky;
    width: 100%;
    z-index: 99999;
    top: 0;
    background: #ffffff;
    border-bottom: thin solid #e0e0e0;
    border-radius: 0px;
}

#tools-table {
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 900;
    width: 100%;
}

#tools-table.unpinned {
    position: relative;
}

#palette-container {
    padding: 0px 10px 0px 10px;
    width: 100%;
}

.btn-group {
    width: max-content;
    height: 26px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: -2px;
}

.btn-group.pa-shortcuts {
    height: 40px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 3px;
}

.btn .caret {
     margin-left: 4px;
 }

#tools-table td {
    text-align: center;
}

#workflow-xml {
    overflow: auto;
    resize: none;
    height: 100%;
}

icons {
  background: white;
}

icons div {
  width: 100%;  
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.image-center-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-padding{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.draggable {
    z-index: 100;
}

.task {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 0.5em;
    border-radius: 5px;
    min-width: 100px;
    max-width: 315px;
    width: fit-content;
    height: 40px;
    line-height: 30px;
    position: absolute;
    color: black;
    padding: 5px;
    font-size: 10px;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

/** HOVER EFFECTS **/
.task._jsPlumb_source_hover, .task._jsPlumb_target_hover {
    border: 1px solid orange;
    color: orange;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.preserve-formatting {
    white-space: pre;
    background-color: #F5F5F5;
    overflow: auto;
}

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}

/** PAGE STRUCTURE **/

/** FB **/
#like {
    position: fixed;
    width: 50px;
    height: 70px;
    border: 0;
    right: 13px;
    bottom: 8px;
}

#headerWrapper {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 44px;
    padding: 0;
    opacity: 0.8;
}

#header {
    margin-top: 0;
    height: 44px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    background-image: url(logo_bw_44h.jpg);
    background-repeat: no-repeat;
}

#main {
    margin-top: 44px;
    position: relative;
    font-size: 80%;
}

#sidebar {
    width: 420px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    top: 90px;
}

#explanation {
    text-align: center;
    padding: 10px;
}

/* demo elements */

a:hover {
    color: #E87224;
}

.menu, #render, #explanation {
    background-color: #fff;
}

.menu {
    height: 15px;
    float: right;
    padding-top: 1em;
    padding-bottom: 0.4em;
    background-color: transparent;
    margin-right: 30px;
    font-size: 12px;
}

.menu a, #render a {
    color: white;
}

.menu a {
    margin-right: 19px;
}

.menu a:hover {
    color: orange;
}

.menu a:active {
    color: #5c96bc;
}

#render a:hover {
    color: orange;
}

#render {
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5000;
    margin-top: 0px;
    text-align: center;
    background-color: white;
    font-size: 11.5px;
    background-color: #5c96bc;
    color: white;
}

#render ul {
    padding-left: 1em;
}

#render ul li {
    list-style-type: none;
}

#render h5 {
    display: inline;
}

.otherLibraries {
    display: inline;
}

#render a {
    margin-right: 10px;
}

.selected {
    color: orange !important;
}

.catalog-selected-row, .preset-selected-row{
	color: black;
	background-color: #4A90D9;
}

.task, .label {
    text-align: center;
    z-index: 24;
    cursor: pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    width: fit-content;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.cmd {
    padding: 0.5em;
    width: 60px;
}

.cmd:hover {
    border: 2px solid #5c96bc;
    background-color: #89bcde;
    color: white;
}

.cmd:active {
    border: 2px solid orange;
    color: orange;
}

.label {
    font-size: 11px;
    padding: 4px;
    margin-left: 7px;
}

.component {
    border: 1px solid #346789;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: white;
    color: black;
    padding: 0.5em;
    font-size: 0.8em;
}

.component:hover {
    border: 1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.task:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.task a {
    font-family: helvetica;
}

/** Z-INDEX **/

._jsPlumb_connector {
    z-index: 18;
}

._jsPlumb_endpoint {
    z-index: 19;
}

._jsPlumb_overlay {
    z-index: 20;
}

._jsPlumb_connector._jsPlumb_hover {
    z-index: 21 !important;
}

._jsPlumb_endpoint._jsPlumb_hover {
    z-index: 22 !important;
}

._jsPlumb_overlay._jsPlumb_hover {
    z-index: 23 !important;
}

/* A TEST
._jsPlumb_element_dragging path {
    z-index:21 !important;
    stroke:green;
}

._jsPlumb_endpoint._jsPlumb_element_dragging * {
    fill:green;
}

*/

/* ANOTHER TEST
._jsPlumb_endpoint_anchor_foo * {
    fill:black;
}

._jsPlumb_endpoint_anchor_bar * {
    fill:red;
}
*/

/**
COMPLEMENT SCHEME

*** Primary Color:

   var. 1 = #5C96BC = rgb(92,150,188)
   var. 2 = #57788D = rgb(87,120,141)
   var. 3 = #1E567A = rgb(30,86,122)
   var. 4 = #89BCDE = rgb(137,188,222)
   var. 5 = #9FC5DE = rgb(159,197,222)

*** Complementary Color:

   var. 1 = #FFC275 = rgb(255,194,117)
   var. 2 = #BF9D71 = rgb(191,157,113)
   var. 3 = #A66D26 = rgb(166,109,38)
   var. 4 = #FFD197 = rgb(255,209,151)

ANALOGIC SCHEME

*** Primary Color:

   var. 1 = #5C96BC = rgb(92,150,188)
   var. 2 = #57788D = rgb(87,120,141)
   var. 3 = #1E567A = rgb(30,86,122)
   var. 4 = #89BCDE = rgb(137,188,222)
   var. 5 = #9FC5DE = rgb(159,197,222)

*** Secondary Color A:

   var. 1 = #6A6FC6 = rgb(106,111,198)
   var. 2 = #616395 = rgb(97,99,149)
   var. 3 = #222781 = rgb(34,39,129)
   var. 4 = #9498E3 = rgb(148,152,227)
   var. 5 = #A9ACE3 = rgb(169,172,227)

*** Secondary Color B:

   var. 1 = #5BC793 = rgb(91,199,147)
   var. 2 = #589578 = rgb(88,149,120)
   var. 3 = #1E8151 = rgb(30,129,81)
   var. 4 = #86E3B6 = rgb(134,227,182)
   var. 5 = #9FE3C2 = rgb(159,227,194)


*/

.pointer {
    cursor: pointer;
}

.syntaxhighlighter {
    max-height: 350px;
    overflow: auto;
}

.popover {
    width: 600px;
}

.form-wrap {
    background-color: #f5f5f5;
    padding-left: 15px;
    margin-top: 5px;
}

.textareaworkflowdescription {
    min-height: 5em !important;
}

.textareataskdescription {
    min-height: 2em !important;
}

.textareavalues {
    min-height: 1em !important;
    min-width: unset;
}

textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 200px !important;
    resize: vertical;
}

input {
    max-width: 90%;
    font-size: 13px !important;
    line-height: 23px !important;
    height: 30px !important;
    resize: none !important;

    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#accordion-properties {
    padding-bottom: 20px;
}

#accordion-properties select {
    max-width: 90%;
    min-width: 90%;
    font-size: 13px !important;
    line-height: 25px !important;
    height: 25px !important;
    padding: 2px !important;
}

.panel-default {
    resize: none;
    margin-top: 2px !important;
    background-color: #f5f5f5;
}

.panel-default .form-wrap:first-of-type {
    margin-top: 2px;
}

.panel-body {
    border-top: 10px solid #f5f5f5;
    border-bottom: 10px solid #f5f5f5;
    padding: 0px;
}

.panel-toggle {
    font-size: 13px;
}

.remove-button {
    margin-bottom: 10px;
}

form {
    margin-bottom: 0px;
}

label {
    margin-bottom: 0px;
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: normal !important;
}

.spacer {
    padding-bottom: 20px;
}

button[data-action='remove'] {
    margin: auto 5px 3px 5px;
    padding: 1px 3px 1px 3px;
    height: 20px;
    width: 15px;
}

button[data-action='add'] {
    margin: auto 10px 3px 0px;
    padding: 1px 3px 1px 3px;
    height: 20px;
    width: 30px;
}

div[data-items] > div {
    display : flex;
}

div[data-items] > div > span {
    width: 85%;
    margin-top:5px;
}

div[data-items] input[type="checkbox"]{
    margin-top: 10px;
}

span[data-editor] > div {
    display: flex;
    justify-content: space-between;
}

form[data-fieldsets] {
    width: 100%;
}

div[name="Application Parameters"] {
    display: inline-block;
}

div[name="Environment Variables"] {
    margin-top: 15px;
}

div[name="Fork Environment"] > form > fieldset > div {
    margin-top: 20px;
}

ul[name="Type"] {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0px;
}

ul[name="Type"] {
    padding-left: 0px;
}

input[name="Type"] {
    float: left;
    margin-right: 5px;
    width: 13px !important;
    height: 13px !important;
}

input[name="Arguments"] {
    float: left;
    width: 300px;
}

label[for$="Arguments"] {
    margin-top: 4px;
}

label[for$="Application Parameters"] {
    margin-top: 4px;
}

input[type="number"] {
    padding-top: 0px;
    padding-bottom: 0px;
}

.checkbox {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
}

input[type="checkbox"] {
    width: 13px !important;
    height: 13px !important;
}

label[for$="Pre Script"] {
    font-weight: bold !important;
}

label[for$="Post Script"] {
    margin-top: 18px;
    font-weight: bold !important;
}

label[for$="Clean Script"] {
    margin-top: 18px;
    font-weight: bold !important;
}

label[for$="Environment Script"] {
    margin-top: 18px;
    font-weight: bold !important;
}

/* buttons for arguments in selection script modal */
div[name="Arguments"] button {
  font-size: 12px;
}

.full-width {
    width: 100% !important;
    max-width: 100% !important;
}

.arguments-modal {
    width: 490px !important;
}

.blank {
}

.task-type input {
    /* hide radio button */
    position: absolute;
    left: -9999px;
}

.task-type li {
    width: 125px;
    display: inline-block;
}

.task-type li label {
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0.5;
    padding-left: 34px;
    padding-top: 10px;
    margin: 2px;
    height: 32px;
    cursor: pointer;
}

.task-type input:checked + label {
    font-weight: bold !important;
    opacity: 1.0;
}

.JavaExecutable {
    background-image: url("../images/Java.png");
}

.NativeExecutable {
    background-image: url("../images/command.png");
}

.ScriptExecutable {
    background-image: url("../images/script.png");
}

.ScriptCode {
    background-image: url("../images/code.png");
}

.ScriptFile {
    background-image: url("../images/url.png");
}

.dragActive {
    border: 2px solid orange;
}

.dropHover {
    border: 2px dotted red;
}

.item-type {
    padding-left: 10px;
}

.block-start {
    border-top: 5px solid orange !important;
}

.block-end {
    border-bottom: 5px solid orange !important;
}

.release-status {
    font-size: 12px;
}

.selected-task {
    border-width: 2px;
    background-color: #CFD8DC;
}

.table-hover {
    cursor: pointer;
}

.create-workflow-button {
    margin-right: 10px;
}

.nav-login {
    width: 100px !important;
    margin-left: 10px !important;
}

.logged-user {
    padding-top: 10px;
}

.menu-form {
    vertical-align: middle;
}

.invalid-task {
    border-width: 2px;
    border-color: red;
}

.btn-choose-file {
    background-color: #f5f5f5;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
    position: absolute;
    cursor: default;
    background-color: white;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: white right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
    width: 1px;
}

/* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

.ui-state-focus {
    background-color: #f9f9f9;
}

.top-level-menu {
    background-color: #999;
    height: 40px;
}

#layout-button {
    font-size: 8px;
    background-color: white;
}

#add-bucket-button {
    font-size: 8px;
    margin-left: 7px;
    background-color: white;
}

#pin-palette-button {
    padding: 2px 6px;
    background-color: white;
}

.palette {
    display: inline-block;
    padding-bottom: 5px;
}

#accordion-properties button {
    font-size: 12px !important;
}

.table-striped td {
    height: 30px;
    padding: 5px !important;
}

.table-striped button {
    height: 25px;
    line-height: 10px;
}

.active-task {
    border: 2px solid #346789;
    background-color: #B0BEC5;
}

li.success {
    background-color: #dff0d8 !important;
}

.sortable-placeholder {
    opacity: 0.3;
}

.templates-menu {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.templates-menu.locked {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.templates-menu .templates-menu-locked> li {
    background-color: white !important;
}

.templates-menu .templates-menu-locked .dropdown-header img {
    width: 20px;
}

.templates-menu .templates-menu-locked .dropdown-header {
    font-style: italic;
}

.remove-secondary-bucket-btn {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    margin-left : 0px;
    border-left: solid #656d75 1px;
}

.secondary-palette > .dropdown-toggle{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    text-transform: capitalize;
}

.sub-menu > a {
    font-size: 12px;
}

[data-error] {
    color: red;
    font-size: 12px;
}

.navbar .divider-vertical {
    height: 23px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-right: 1px solid #777;
    border-left: 1px solid #f2f2f2;
}

.btn-toolbar {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.help-sign {
    margin-left: 10px;
    color: #5C96BC;
    font-size: 12px;
}

.tooltip-inner {
    text-align: left !important;
}

.ui-pnotify {
    top: 110px !important;
}

.menu-button {
    margin-right: 6px;
    padding: 6px 6px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media (max-width: 767px) {

    #ae-logo{
        width: 42px!important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        overflow: auto;
    }

    .navbar-nav {
        float: left !important;
        margin: 0px 8px;
    }

    .btn-toolbar.pull-left, .pa-logo{
        margin: 0px 8px;
    }

    .navbar-nav > li {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .navbar-nav > li > a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }

    .navbar-collapse.in, .navbar-collapse.collapsing{
        padding: 0px 10px;
        margin-top : 4px;
        float: left;
        border-color: transparent;
    }

    .extra-logos{
        max-width: 0px!important;
    }
}

@media (max-width: 1199px) {
    .pa-shortcut {
        width: 0px !important;
        padding: 0px;
    }
    .pa-shortcuts:not(#logout-view-container) {
        width: 45px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

@media (min-width: 1199px) {
    .pa-shortcut {
        width: fit-content;
        margin-left: 0px;
    }
    .pa-shortcuts {
        width: fit-content;
    }
}

@media (max-width: 1370px) {
    #studio-bucket-title{
    }
}
@media (max-width: 530px) {
    #logout-text{
        width: 0px !important;
        margin-right: 0px!important;
    }
    .menu-button{
        width: 45px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}

#navbar-fixed {
    background-color: white;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

#navbar-fixed a {
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    height: fit-content;
}

.navbar-toggle {
    padding: 11px 8px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.navbar-nav > li:hover,
.navbar-nav > li:focus {
    background-color: gainsboro;
}

.pa-logo{
    border-radius: 13px;
    padding-top: 4px;
    margin-right: 6px;
}

.extra-logos{
    max-width: 148px;
    transition: max-width 500ms;
    transition-timing-function: ease;
    -webkit-transition: max-width 500ms;
    -webkit-transition-timing-function: ease;
}

#ae-logo{
    width: 160px;
    overflow: hidden;
    transition: width 500ms;
    transition-timing-function: ease;
    -webkit-transition: width 500ms;
    -webkit-transition-timing-function: ease;
}

.pa-shortcut {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow-x: hidden;
    transition: width 300ms;
    transition-timing-function: ease;
    -webkit-transition: width 300ms;
    -webkit-transition-timing-function: ease;
    margin-left: 4px;
    line-height: 25px;
}

.pa-shortcuts > .active {
    background-color: #f76800;
    color: white;
}

.pa-shortcuts {
    transition: width 500ms;
    transition-timing-function: ease;
    -webkit-transition: width 500ms;
    -webkit-transition-timing-function: ease;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.pa-tools {
    margin-top: 2px;

}

.pa-tool-btn {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    color: #5F6369;
}

.pa-tool-btn:hover, .pa-tool-btn:visited {
    background-color: gainsboro;
    color: #5F6369;
}

.pa-tool-btn:focus {
    color: #5F6369;
}

#shortcuts-toolbar{
    position: absolute;
    background-color: white;
    right: 0px;
}

#logout-text{
    margin-right: 5px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    display: inline-block;
    transition: width 500ms;
    transition-timing-function: ease;
    -webkit-transition: width 500ms;
    -webkit-transition-timing-function: ease;
    line-height: 25px;
}

#logout-view-container{
  width: fit-content!important;
}

.dropdown-menu{
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
}

.zero-right-padding{
    padding-right: 0px !important;
}

.dropdown-header {
    padding-top: 10px;
    color: #333 !important;
    font-weight: bold;
    font-size: 13px;
}

.preset-menu-header{
    padding: 3px 10px 0px 7px;
    text-transform: none;
    font-weight: 400;
}

#login-view {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px; /* or 950px */
}

.no-workflows-open {
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: table;
    cursor: default;
    z-index: 1010; /* above tasks toolbar */
}

.no-workflows-open div {
    display: table-cell;
    vertical-align: middle;
}

.no-workflows-open-help-title {
    text-decoration: underline;
}

.no-workflows-open-help {
    font-size: 14px;
    margin: auto;
    text-align: left;
    width: 400px;
}

.no-workflows-open-help li {
    padding-top: 10px;
    list-style-type: disc;
}

#workflow-list-controls {
    padding-bottom: 10px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item * {
    cursor: pointer;
}

#workflow-list label {
    width:45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#select-mode {
    display: inline;
    width: auto;
}

.formLayout label.Name {
    text-align: right;
    vertical-align: middle;
    width: 30%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}

.formLayout input[type="radio"] {
    margin-top : -5px;
}

.formLayout .radio-div {
    height: 30px;
    vertical-align: middle;
}

.formLayout .variableValue {
    width: 45%;
    display:inline-block;
    padding: 5px;
    margin-left: 5px;
}

.formLayout label.Extra {
    text-align: left;
    width: 20%;
}

.formLayout {
    padding: 3px;
}

.row {
    display: table-row;
}

.property-field {
    float:left;
    width: 40%;
    max-width: 40%;
    margin-right:10px;
    overflow: hidden;
    white-space: nowrap;
    resize: none;
}

.input-property-field {
    float:left;
    width: 40%;
    max-width: 42%;
    margin-right:10px;
    overflow: hidden;
    white-space: nowrap;
    resize: none;
}

.list-editor-row {
   	height: 30px;
}

.popup-input-text-field{
    width: 80%;
}

.simple-form-header {
    font-weight: bold;
    padding-bottom:10px;
}
.padding-top-10 {
    padding-top:10px;
}

.simple-form-select {
    max-width: 90%;
}

.no-underline {
    text-decoration: none
}

.bottom-btn {
    margin-bottom: 20px;
}

.ui-pnotify.translucent.ui-pnotify-fade-in {
    opacity: .8;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.cm-matchhighlight {background-color: lightgreen}

.CodeMirror-selection-highlight-scrollbar {background-color: green}

.CodeMirror-hints, .CodeMirror-hint, .CodeMirror-hint-active {
    z-index:2147483647;
}

.hover-editor-container {
    position: relative;
}

.hover-editor-content {
    display:none;
    position:absolute;
    top:1.5em;
    left:5.5em;
    padding: 0.2em 0.6em;
    border:1px solid #996633;
    background-color:#FFF;
    color:#000;
    z-index:13000;
    width:220px;
    text-align:left;
    font-size:10px

}
.hover-editor-container:hover .hover-editor-content {
    display: block;
}

.hover-editor-content-hovered {
    display: block;
}

.displayed {
    display: inherit;
}

.hidden {
    display: none;
}

#catalog-publish-modal .modal-dialog {
    width: 900px;
}

#catalog-get-modal .modal-dialog {
    width: 1100px;
}

#catalog-publish-buckets-table td, #catalog-get-buckets-table td,
#catalog-publish-objects-table td, #catalog-get-objects-table td,
#catalog-publish-revisions-table td, #catalog-get-revisions-table {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    max-width:200px;
}