node_modules
/dist
.tmp
.sass-cache
/app/bower_components
/test/bower_components
/test/libs
_SpecRunner.html
.grunt
/test/ui/reports

# Gradle local files
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# Intellij
*.iml
.idea/
/bin/
