<!doctype html>
<html>
	<head>
		<title>ProActive Workflow Studio</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/studio.css">
	</head>
	<body data-library="jquery">

		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" style="vertical-align:middle"><img src="img/proactive_32.png" style="height:24px"> ProActive Studio <span class="release-status">beta</span></a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li><a id="submit-button" href="#" class="pointer"><i class="icon-share "></i> Execute</a></li>
                  <li class="divider"></li>
	              <li><a id="import-button" href="#" class="pointer"><i class="icon-arrow-down "></i> Import</a></li>
	              <li><a id="export-button" href="#" class="pointer"><i class="icon-eye-open "></i> View Source</a></li>
                  <li><a id="clear-button" href="#" class="pointer"><i class="icon-repeat "></i> Clear</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

  	    <div id="workflow-designer"></div>
  	    <div id="properties-container"></div>
  	    <div id="alert-placeholder"></div>
  	    
  	    <table id="tools-table">
  	    <tr><td style="padding-right:20px">
  	    <div id="palette-container"></div>
  	    </td><td>
  	    <div id="tools-panel">
			<div class="btn-group">
              <button id="layout-button" type="button" class="btn" title="Layout"><i class="icon-align-justify"></i></button>
                <!--
              <button id="zoom-reset-button" type="button" class="btn" title="Zoom in"><i class="icon-screenshot"></i></button>
              <button id="zoom-in-button" type="button" class="btn" title="Zoom in"><i class="icon-plus"></i></button>
              <button id="zoom-out-button" type="button" class="btn" title="Zoom out"><i class="icon-minus"></i></button>
              -->
            </div>
  	    </div>
  	    </td></tr>
  	    </table>

<input type="file" id="import-file" style="display:none"/>

<div id="scheduler-connect-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Scheduler Login</h3>
  </div>
  <div class="modal-body">
  	<label>Scheduler REST URL</label>
    <input data-name="url" type="text" value="http://cloud.activeeon.com/pacagrid/tp/rest/rest/scheduler/" disabled="disabled">
  	<label>User Name</label>
    <input data-name="user" type="text" value="demo">
  	<label>Password</label>
    <input data-name="pass" type="password" value="demo">
  </div>
  <div class="modal-footer">
    <button id="submit-button-dialog" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Submit</button>
  </div>
</div>

<div id="xml-view-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Workflow XML</h3>
  </div>
  <div class="modal-body" style="height:100%">
  <div id="workflow-xml-container"></div>
  </div>
  <div class="modal-footer">
    <button id="download-xml-button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Download</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/template" class="template" id="job-template">
	<?xml version="1.0" encoding="UTF-8"?>
    <job xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:proactive:jobdescriptor:3.2"
         xsi:schemaLocation="urn:proactive:jobdescriptor:3.2 http://www.activeeon.com/public_content/schemas/proactive/jobdescriptor/3.2/schedulerjob.xsd"
	    name="<%= job["Job Name"]%>"
        <%if (job["Project Name"]!='Project') {%>projectName="<%= job["Project Name"]%>" <%}%>
        priority="<%= job["Job Priority"]%>"
		cancelJobOnError="<%= job["Cancel Job On Error Policy"]%>"
        <% if (job["Max Number Of Executions For Task"]&&parseInt(job["Max Number Of Executions For Task"])>1) { %> maxNumberOfExecution="<%= job["Max Number Of Executions For Task"]%>" <% } %>
        <% if (job["If An Error Occurs Restart Task"]!='anywhere') { %> restartTaskOnError="<%= job["If An Error Occurs Restart Task"]%>" <% } %>>
	
		<% if (job["Local Variables"] && job["Local Variables"].length>0) { %>
		<variables>
		<% _.each(job["Local Variables"], function(variable) { %>		
				<variable name="<%=variable["Name"]%>" value="<%=variable["Value"]%>"/>
		<% }) %>
		</variables>
		<% } %>
	
		<% if (job["Description"] && job["Description"].length>0) { %>
		<description> <![CDATA[ <%= job["Description"]%> ]]> </description>
		<% } %>
		
		<% if (job["Job Classpath"] && job["Job Classpath"].length>0) { %>
		<jobClasspath>
		<% _.each(job["Job Classpath"], function(cp) { %>
			<pathElement path="<%=cp%>"/>
		<% }) %>	
		</jobClasspath>
		<% } %>
	
		<% if (job["Generic Info"] && job["Generic Info"].length>0) { %>
		<genericInformation>
		<% _.each(job["Generic Info"], function(gi) { %>
				<info name="<%=gi["Property Name"]%>" value="<%=gi["Property Value"]%>"/>
		<% }) %>
		</genericInformation>
		<% } %>
	
		<% if (job["Input Space Url"] && job["Input Space Url"].length>0) { %>
		<inputSpace url="<%= job["Input Space Url"]%>"/>
		<% } %>
		<% if (job["Output Space Url"] && job["Output Space Url"].length>0) { %>
		<outputSpace url="<%= job["Output Space Url"]%>"/>
		<% } %>
        <% if (job["Global Space Url"] && job["Global Space Url"].length>0) { %>
        <globalSpace url="<%= job["Global Space Url"]%>"/>
        <% } %>
        <% if (job["User Space Url"] && job["User Space Url"].length>0) { %>
        <userSpace url="<%= job["User Space Url"]%>"/>
        <% } %>

		<taskFlow>
			<% _.each(tasks, function(task) { %>
					<%=task%>
			<% }) %>
		</taskFlow>
	</job>
</script>

<script type="text/template" class="template" id="task-template">
	<task name="<%=task["Task Name"]%>"
        <% if (task["Maximum Number of Execution"] && parseInt(task["Maximum Number of Execution"])>1) { %>maxNumberOfExecution="<%=task["Maximum Number of Execution"]%>" <% } %>
        <% if (task["Store Task Logs in a File"]) { %>preciousLogs="<%=task["Store Task Logs in a File"]%>" <% } %>
        <% if (task["Cancel Job On Error Policy"]=='true') { %>cancelJobOnError="<%=task["Cancel Job On Error Policy"]%>" <% } %>
        <% if (task["Precious Result"]=='true') { %>preciousResult="<%=task["Precious Result"]%>" <% } %>
        <% if (task["Run as me"]) { %>runAsMe="<%=task["Run as me"]%>" <% } %>
        <% if (task["If An Error Occurs Restart Task"] && task["If An Error Occurs Restart Task"]!='anywhere') { %> restartTaskOnError="<%= task["If An Error Occurs Restart Task"]%>" <% } %>

		<%if (task["Maximum Execution Time (hh:mm:ss)"]){%>
			walltime="<%=task["Maximum Execution Time (hh:mm:ss)"]%>"
		<%}%>
		<%if (task["Result Preview Class"]){%>
			resultPreviewClass="<%=task["Result Preview Class"]%>"
		<%}%>>
		
		<% if (task["Description"] && task["Description"].length>0) { %>
		<description> <![CDATA[ <%= task["Description"]%> ]]> </description>
		<% } %>
		
		<% if (task["Generic Info"] && task["Generic Info"].length>0) { %>
		<genericInformation>
		<% _.each(task["Generic Info"], function(gi) { %>
				<info name="<%=gi["Property Name"]%>" value="<%=gi["Property Value"]%>"/>
		<% }) %>
		</genericInformation>
		<% } %>

		<% if (dependencies && dependencies.length > 0) { %>
		<depends>
		<% _.each(dependencies, function(dep) { %>
				<task ref="<%=dep.get("Task Name")%>"/>
		<% }) %>
		</depends>
		<% } %>
		
		<% if (task["Input Files"] && task["Input Files"].length>0) { %>
		<inputFiles>
		<% _.each(task["Input Files"], function(file) { %>
				<files <%if (file["Excludes"]&&file["Excludes"].length>0) {%>excludes="<%=file["Excludes"]%>"<% } %> <%if (file["Includes"]&&file["Includes"].length>0) {%>includes="<%=file["Includes"]%>"<% } %> accessMode="<%=file["Access Mode"]%>"/>
		<% }) %>	
		</inputFiles>
		<% } %>
		
		<% if (task["Number of Nodes"] && task["Number of Nodes"]>1) { %>
		<parallel numberOfNodes="<%=task["Number of Nodes"]%>">
		
		<% if (task["Topology"]&&task["Topology"]!="none") { %>
			<topology><<%=task["Topology"]%>/></topology>
		<% } else if (task["Or Topology Threshold Proximity"]&&task["Or Topology Threshold Proximity"]>0) { %>
			<topology><thresholdProximity threshold="<%=task["Or Topology Threshold Proximity"]%>"/></topology>
		<% }%>
		</parallel>
		<% }%>
		
		<% if (task["Selection Scripts"] && task["Selection Scripts"].length>0) { %>
			<selection>
			<% _.each(selectionScripts, function(script) { %>
					<%=script%>
			<% }) %>
			</selection>
		<% } %>
		
		<% if (preScript && preScript.length>0) { %> 
		<% print("<pre"+">") %>
			<%=preScript%>
		<% print("</pre"+">") %>
		<% } %>
		
		<%=executable%>

        <% if (controlFlow && controlFlow['if']) { %>
        <controlFlow <% if (task["Block"] && task["Block"]!='none') { %> block="<%=task["Block"]%>" <%}%>>
        <if <% if (controlFlow['if']&&controlFlow['if'].task){ %>target="<%=controlFlow['if'].task.get('Task Name')%>"<%}%>
            <% if (controlFlow['if']['else']&&controlFlow['if']['else'].task){ %>else="<%=controlFlow['if']['else'].task.get('Task Name')%>"<%}%>
            <% if (controlFlow['if']['continuation']&&controlFlow['if']['continuation'].task){ %>continuation="<%=controlFlow['if']['continuation'].task.get('Task Name')%>"<%}%>>
            <%=controlFlow['if'].script%>
        </if>
        </controlFlow>
        <% } else if (controlFlow && controlFlow['loop']) { %>
        <controlFlow <% if (task["Block"] && task["Block"]!='none') { %> block="<%=task["Block"]%>" <%}%>>
        <loop <% if (controlFlow['loop'].task){ %>target="<%=controlFlow['loop'].task.get('Task Name')%>"<%}%>>
        <%=controlFlow['loop'].script%>
        </loop>
        </controlFlow>
        <% } else if (controlFlow && controlFlow['replicate']) { %>
        <controlFlow <% if (task["Block"] && task["Block"]!='none') { %> block="<%=task["Block"]%>" <%}%>><replicate>
        <%=controlFlow['replicate'].script%>
        </replicate></controlFlow>
        <% } else if (task["Block"] && task["Block"]!='none') { %>
        <controlFlow block="<%=task["Block"]%>">
        </controlFlow>
        <% } %>

		<% if (postScript && postScript.length>0) { %> 
		<post>
			<%=postScript%>
		</post>
		<% } %>

		<% if (cleanScript && cleanScript.length>0) { %> 
		<cleaning>
			<%=cleanScript%>
		</cleaning>
		<% } %>
		
		<% if (task["Output Files"] && task["Output Files"].length>0) { %>
		<outputFiles>
		<% _.each(task["Output Files"], function(file) { %>
				<files <%if (file["Excludes"]&&file["Excludes"].length>0) {%>excludes="<%=file["Excludes"]%>"<%}%> <%if (file["Includes"]&&file["Includes"].length>0) {%>includes="<%=file["Includes"]%>"<%}%> accessMode="<%=file["Access Mode"]%>"/>
		<% }) %>	
		</outputFiles>
		<% } %>
	</task>
</script>

<script type="text/template" class="template" id="script-template-short">
	<% if (model["Script"] && model["Script"].length>0) { %>
    <% print("<sc"+"ript") %> <% if (model["Type"]) { %>type="<%=model["Type"]%>" <% } %>>
		<code language="<%=model["Engine"]%>"><![CDATA[<%=model["Script"] %>]]></code>
    <% print("</sc"+"ript>") %>
	<% } %>
</script>

<script type="text/template" class="template" id="script-template">
	<% if (model["Or Path"]&&model["Or Path"].length>0 || model["Or Url"]&&model["Or Url"].length>0 || model["Script"]&&model["Script"].length>0) { %>
    <% print("<sc"+"ript") %> <% if (model["Type"]) { %>type="<%=model["Type"]%>" <% } %>>
    	<% if (model["Script"] && model["Script"].length>0) {%>
			<code language="<%=model["Engine"]%>">
<![CDATA[
    <%= model["Script"] %>
]]>
            </code>
    	<% } else { %>
	    	<% if (model["Or Path"] && model["Or Path"].length>0) { %>
    		<file path="<%=model["Or Path"]%>">
	    	<% } else if (model["Or Url"] && model["Or Url"].length>0) {%>
    		<file url="<%=model["Or Url"]%>">
	    	<% }%>

			<% if (model["Arguments"] && model["Arguments"].length>0) { %>
			<arguments>
			<% _.each(model["Arguments"], function(arg) { %>
				<argument value="<%=arg%>"/>
			<% }) %>
			</arguments>
	    	<% }%>
    		</file>
		<% } %>
    <% print("</sc"+"ript>") %>
	<% } %>
</script>

<script type="text/template" class="template" id="java-executable-template">
      <javaExecutable class="<%=model["Class"]%>">
		<% if (model["Fork Environment"]=="true") { %>
        <forkEnvironment <% if(model["Java Home"]&&model["Java Home"].length>0) {%> javaHome="<%=model["Java Home"]%>"<%}%> <% if(model["Working Dir"]&&model["Working Dir"].length>0) {%>workingDir="<%=model["Working Dir"]%>"<%}%>>
			<% if (model["Environment Variables"] && model["Environment Variables"].length>0) { %>
			<SystemEnvironment>          
			<% _.each(model["Environment Variables"], function(arg) { %>
				<variable name="<%=arg["Name"]%>" value="<%=arg["Value"]%>" append="<%=arg["Append"]%>" appendChar="<%=arg["Append Char"]%>" />
			<% }) %>
			</SystemEnvironment>
			<% } %>
			<% if (model["Jvm Arguments"] && model["Jvm Arguments"].length>0) { %>
            <jvmArgs>
			<% _.each(model["Jvm Arguments"], function(arg) { %>
				<jvmArg value="<%=arg%>"/>
			<% }) %>
            </jvmArgs>
			<% } %>
			<% if (model["Additional Classpath"] && model["Additional Classpath"].length>0) { %>
            <additionalClasspath>
			<% _.each(model["Additional Classpath"], function(arg) { %>
				<pathElement path="<%=arg%>"/>
			<% }) %>
            </additionalClasspath>
			<% } %>
            
            <% if (script && script.length>0) { %>
            <envScript>
          		<%=script%>
            </envScript>
		    <% } %>      
        </forkEnvironment>
		<% } %>      
		<% if (model["Application Parameters"] && model["Application Parameters"].length>0) { %>
		<parameters>
		<% _.each(model["Application Parameters"], function(par) { %>
			<parameter name="<%=par["Name"]%>" value="<%=par["Value"]%>"/>
		<% }) %>
		</parameters>
		<% } %>
      </javaExecutable>

</script>

<script type="text/template" class="template" id="native-executable-template">
      <nativeExecutable>

      	<% if (model["Static Command"] && model["Static Command"].length>0 || !script) { %>
        <staticCommand value="<%=model["Static Command"]%>" <% if (model["Working Folder"] && model["Working Folder"].length>0) { %>workingDir="<%=model["Working Folder"]%>"<% } %>>
        	<% if (model["Arguments"] && model["Arguments"].length>0) { %>
			<arguments>
			<% _.each(model["Arguments"], function(arg) { %>
				<argument value="<%=arg%>"/>
			<% }) %>
			</arguments>
			<% } %>
        </staticCommand>

    	<% } else { %>

        <dynamicCommand <% if (model["Working Dir"] && model["Working Dir"].length>0) { %>workingDir="<%=model["Working Dir"]%>"<% } %>>
        <generation>
			<%=script%>
        </generation>
        </dynamicCommand>
    	<% } %>

      </nativeExecutable>
</script>

<script type="text/template" class="template" id="script-executable-template">
      <scriptExecutable>
          <%=script%>
      </scriptExecutable>
</script>

	    <script src="js/jquery-1.9.0.js"></script>
		<script src="js/jquery-ui-1.9.2-min.js"></script>
		<script src="js/jquery.ui.touch-punch.min.js"></script>
		<script src="js/jquery.mousewheel.js"></script>
		<script type='text/javascript' src='js/jquery.jsPlumb-1.5.0.js'></script>
		<script type='text/javascript' src='js/bootstrap.js'></script>

		<script type="text/javascript" src="js/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
		<script type="text/javascript" src="js/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
		<script type="text/javascript" src="js/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
		<link href="js/syntaxhighlighter_3.0.83/styles/shCore.css" rel="stylesheet" type="text/css" />
		<link href="js/syntaxhighlighter_3.0.83/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
		
		<script src="js/vkbeautify.0.99.00.beta.js"></script>

		<script src="js/underscore-min.js"></script>
		<script src="js/backbone.js"></script>
		<script src="js/backbone-forms/backbone-forms.js"></script>
		<script src="js/backbone-forms/editors/list.js"></script>
		<script src="js/backbone-forms/adapters/backbone.bootstrap-modal.js"></script>
		<script src="js/xml2json.js"></script>
		<script src="js/dagre.min.js"></script>
        <script src="js/FileSaver.js"></script>

		<script src="js/proactive/model.js"></script>
		<script src="js/proactive/view.js"></script>
		<script src="js/proactive/scheduler-client.js"></script>
		<script src="js/proactive/studio.js"></script>
	</body>

</html>
