<div id="catalog-publish-description" data-first="true">
	<table>
		<% if (kind.toLowerCase().indexOf('workflow')>-1) { %>
		<tr>
			<td colspan="2" style="padding-bottom: 5em">You are about to publish a <b>new <%= kindLabel %></b> named &quot;<%= name %>&quot; to this bucket.</td>
		</tr>
		<% } else { %>
		<tr>
			<td colspan="2" style="padding-bottom: 5em">You are about to publish the <%= kindLabel %> to this bucket. If it already exists, a new revision will be created.</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input type="text" id="catalog-publish-name" value="<%= name %>"></td>
		</tr>
		<% } %>
		<tr>
			<td>Kind:</td>
			<td><input type="text" id="catalog-publish-kind" value="<%= kind %>" ></td>
		</tr>
		<tr>
			<td>Commit message:</td>
			<td colspan="2"><input type="text" id="catalog-publish-commit-message" style="width: 100%"></td>
		</tr>

	</table>
</div>
