<div>
	<table>
		<tr>
			<td style="width: 200px;">
				<fieldset>
					<legend style="font-weight: bold;">Buckets</legend>
					<div style="height: 270px; overflow: auto;">
						<table id="catalog-publish-buckets-table" style="width: 100%;"></table>
					</div>
				</fieldset>
			</td>
			<td style="width: 5px;"></td>
			<td style="width: 400px;">
				<fieldset>
					<legend style="font-weight: bold;">Description</legend>
					<div id="catalog-publish-description-container" style="height: 270px; overflow: auto;"></div>
				</fieldset>
			</td>
		</tr>
	</table>
</div>

