<div id="catalog-get-revision-description" data-selectedrawurl="<%= rawurl %>">
	<table>
		<tr style="width:50%;">
			<th style="width:40%;"><%= kindLabel %> name</th>
			<td><%= name %></td>
		</tr>
		<% if(projectname) { %>
		<tr>
			<th>Project name</th>
			<td><%= projectname %></td>
		</tr>
		<% } %>
		<tr>
			<th>Commit message</th>
			<td><%= commitmessage %></td>
		</tr>
		<tr>
			<th>Committed by</th>
			<td><%= username %></td>
		</tr>
		<tr>
			<th>Direct URL</th>
			<td><a href="<%= rawurl %>"><%= rawurl.substring(0,30)+"..." %></a></td>
		</tr>
	</table>	
</div>