<div id="catalog-publish-description" data-first="true">
	<table>
		<tr>
			<td style="padding-bottom: 5em">You are about to publish a <b>new  <%= kindLabel %></b> named &quot;<%= name %>&quot; to this bucket.</td>
		</tr>
		<tr>
			<td>Kind:</td>
			<td><input type="text" id="catalog-publish-kind" value="<%= kind %>" ></input></td>
		</tr>
		<tr>
			<td>Commit message:</td>
			<td colspan="2"><input type="text" id="catalog-publish-commit-message" style="width: 100%"></input></td>
		</tr>

	</table>
</div>
