<div id="current-id">

</div>
<div id="bucket-list-head" style="height:300px;overflow:scroll;">
    <form class="form-inline" role="form" id="catalog-bucket-list">
        <div  id="bucket-list" style="heigh:300;overflow:scroll">
            <div class="form-group">
                <select class="form-control" id="select-bucket">
                    <option value="-1" selected="selected" disabled>Please Select a Bucket</option>

                </select>
            </div>
        </div>
    </form>
    <div id="catalog-workflow-list"></div>
</div>

