<h3>Bucket1</h3>
<table style="width:100%">
    <tr>
        <td><h5>Workflow1</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
        <td><h5>Workflow2</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
    </tr>
    <tr>
        <td><h5>Workflow3</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
    </tr>
</table>
<h3>Bucket2</h3>
<table style="width:100%">
    <tr>
        <td><h5>Workflow1</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
        <td><h5>Workflow2</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
    </tr>
    <tr>
        <td><h5>Workflow3</h5></td>
        <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
                <button type="button" class="btn btn-success btn-mini btn-open">Open</button>
                <button type="button" class="btn btn-danger btn-mini btn-remove">Remove</button>
            </div>
        </td>
    </tr>
</table>