<div>
	<table>
		<tr>
			<td style="width: 250px;">
				<fieldset>
					<legend class="row">
						<div class="pull-left" style="font-weight: bold;padding-left: 15px;">Buckets</div>
						<div class="pull-right" id="get-show-all-checkbox">
							<label class="checkbox-inline"><input type="checkbox">Show all</label>
						</div>
					</legend>
					<div style="height: 270px; overflow: auto;">
						<table id="catalog-get-buckets-table" style="width: 100%;"></table>
					</div>
				</fieldset>
			</td>
			<td style="width: 250px;">
				<fieldset>
					<legend style="font-weight: bold;" id="catalog-objects-legend">Catalog Objects</legend>
					<div style="height: 270px; overflow: auto;">
						<table id="catalog-get-objects-table" style="width: 100%;"></table>
					</div>
				</fieldset>
			</td>
			<td style="width: 250px;">
				<fieldset>
					<legend style="font-weight: bold;">Revisions</legend>
					<div style="height: 270px; overflow: auto;">
						<table id="catalog-get-revisions-table" style="width: 100%;"></table>
					</div>
				</fieldset>
			</td>
			<td style="width: 400px;">
				<fieldset>
					<legend style="font-weight: bold;">Description</legend>
					<div id="catalog-get-description-container" style="height: 270px; overflow: auto;"></div>
				</fieldset>
			</td>
		</tr>
	</table>
</div>

