<div id="catalog-publish-description" data-first="true">
	<table>
		<tr>
			<td colspan="2" style="padding-bottom: 5em">You are about to publish a <b>new <%= kindLabel %></b> named <span style="word-break:break-word">&quot;<%= name %>&quot;</span> to this bucket.</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input type="text" id="catalog-publish-name" value="<%= name %>" disabled class="disabled-input"></td>
		</tr>
		<tr>
			<td>Kind:</td>
			<td><input type="text" id="catalog-publish-kind" value="<%= kind %>"></td>
		</tr>
		<tr>
			<td>Project name:</td>
			<% if (kind.toLowerCase().indexOf('workflow')>-1) { %>
			<td><input type="text" id="workflow-publish-project-name" value="<%= projectname %>" disabled class="disabled-input"></td>
			<% } else { %>
			<td><input type="text" id="script-publish-project-name" value="<%= projectname %>"></td>
			<% } %>
		</tr>
		<tr>
			<td>Commit message:</td>
			<td colspan="2"><input type="text" id="catalog-publish-commit-message"></td>
		</tr>

	</table>
</div>
