<div id="current-id">

</div>
<div id="bucket-list-head" style="height:300px;overflow:scroll;">
    <form class="form-inline" role="form" id="catalog-bucket-list">
        <div  id="bucket-list" style="heigh:300;border-bottom:1px solid lightgray">
            <table style = "width:100%"><tr>
            <td><div class="form-group">
                <select class="form-control" id="select-bucket">
                    <option value="-1" selected="selected" >Please Select a Bucket</option>
                </select>
            </div></td>
            <td><div align="right">
                <button id="select-all-catalog-button" class="btn btn-primary" aria-hidden="true" disabled>
                    Select all
                </button>
                <button id="deselect-all-catalog-button" class="btn btn-primary" aria-hidden="true" disabled>
                    Deselect all
                </button>
            </div></td></tr></table>
        </div>
    </form>
    <ul id="catalog-workflow-list" class="catalog-workflow-item"></ul>
</div>

