<div id="catalog-get-revision-description" data-selectedrawurl="<%= rawurl %>">
	<table>
		<tr style="width:50%;">
			<th style="width:40%;"><%= kindLabel %> name</th>
			<td><%= name %></td>
		</tr>
		<% if(projectname) { %>
		<tr>
			<th>Project name</th>
			<td><%= projectname %></td>
		</tr>
		<% } %>
		<% if(tags) { %>
		<tr>
			<th>Tags</th>
			<td><%= tags %></td>
		</tr>
		<% } %>
		<tr>
			<th>Commit message</th>
			<td><%= commitmessage %></td>
		</tr>
		<tr>
			<th>Committed by</th>
			<td><%= username %></td>
		</tr>
		<tr>
			<th>Direct URL</th>
			<td>
				<div class="input-group" style="display:inline-flex;" id="direct-object-url">
					<input type="text" class="form-control" id="direct-object-url-input" ng-disable="true" value="<%= rawurl %>">
					<button class="btn btn-default" data-toggle="tooltip" title="Copy to clipboard" id="direct-object-url-button"> <i class="fa fa-clone"></i> </button>
				</div>
			</td>
		</tr>
	</table>	
</div>