<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close file-browser-close" aria-hidden="true">×</button>
            <h3><%=location%> Files</h3>
        </div>
        <div id="files-body" class="modal-body">
            <div id="current-path">
                <button type="button" class="btn current-sub-path" value=""> <%- location%> </button>
                <% var splitPath = currentPath.split("/").filter(i => i);
                for (let [index, subPath] of splitPath.entries()) { %>
                    <button type="button" class="btn current-sub-path" value="<%- splitPath.slice(0, index+1).join('/')%>/"> <%- (subPath.length > 100) ? subPath.substring(0, 100) + " ..." : subPath %> </button>
                <% } %>
            </div>
            <br>
            <div id="files-container" style="overflow-x: hidden; overflow-y: scroll; height: 270px;">
                <ul class="files-ul">
                    <% for (var index in directories) { %>
                    <li class="file-browser-dir" value="<%- currentPath %><%- directories[index] %>/"> <i class="far fa-folder"> </i> <%- directories[index] %> </li>
                    <% } %>
                    <% for (var index in files) { %>
                    <li class="file-browser-file" value="<%- currentPath %><%- files[index] %>"> <i class="far fa-file"> </i> <%- files[index] %> </li>
                    <% } %>
                </ul>
            </div>
            <label id="file-browser-error-message" style="color:red;"></label>
            <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-white file-browser-select-btn" type="button"> Select </button>
            <button class="btn btn-white file-browser-close" type="button"> Close </button>
        </div>
    </div>
</div>
