<% if (isForkEnvironmentDefined) { %>
<forkEnvironment<% if(model["Java Home"]&&model["Java Home"].length>0) {%> javaHome="<%=_.escape(model["Java Home"])%>"<%}%> <% if(model["Working Folder"]&&model["Working Folder"].length>0) {%>workingDir="<%=_.escape(model["Working Folder"])%>"<%}%>>
    <% if (model["Environment Variables"] && model["Environment Variables"].length>0) { %>
    <SystemEnvironment>
        <% _.each(model["Environment Variables"], function(arg) { %>
        <variable name="<%=arg["Name"]%>" value="<%=_.escape(arg["Value"])%>" />
        <% }) %>
    </SystemEnvironment>
    <% } %>
    <% if (model["Jvm Arguments"] && model["Jvm Arguments"].length>0) { %>
    <jvmArgs>
        <% _.each(model["Jvm Arguments"], function(arg) { %>
        <jvmArg value="<%=_.escape(arg)%>"/>
        <% }) %>
    </jvmArgs>
    <% } %>
    <% if (model["Additional Classpath"] && model["Additional Classpath"].length>0) { %>
    <additionalClasspath>
        <% _.each(model["Additional Classpath"], function(arg) { %>
        <pathElement path="<%=_.escape(arg)%>"/>
        <% }) %>
    </additionalClasspath>
    <% } %>

    <% if (script && script.length>0) { %>
    <envScript>
        <%=script%>
    </envScript>
    <% } %>
</forkEnvironment>
<% } %>