<div>
    <center>
        <% _.each(jobGenericInfos, function(gi) {
                    var label = gi["Property Name"];
                    if (label == "workflow.icon" )  %>
                        <img src="<%=gi["Property Value"]%>" style="width:100px;height:100px;">
        <% }) %>

        <h4 class="modal-title"><%- jobName %> </h4>
    </center>

    <span class="font-bold"><b>Description : </b><div class="description"><small><%- jobDescription %></small></div></span>
    <span class="font-bold"><b>Project name : </b><small><%- jobProjectName %></small></span><br>
<% _.each(jobGenericInfos, function(gi) {
    var label = gi["Property Name"];
    if (label == "bucketName" )  %>
    <span class="font-bold"><b>Bucket name : </b><small><%=gi["Property Value"] %></small></span><br>
<% }) %>

<% _.each(jobGenericInfos, function(gi) {
	var label = gi["Property Name"];
    if (label == "Documentation" )  %>
    <span class="font-bold"><b> Documentation : </b><small><a href='<%=gi["Property Value"]%>' target="_blank"><%=gi["Property Value"]%></a></small></span><br>
<% }) %>

</div>


<br>
<ul id="submitFormUL">
    <span for="Job_Variables" class="Name" style="text-align:left; font-weight: bold" data-toggle="tooltip">Job Variables</span>
    <%

      var currentTask = null;
      for (var key in jobVariables) {
         if (jobVariables.hasOwnProperty(key)) {
            var variable = jobVariables[key];

            var splitted = key.split(":");
            if (splitted.length == 2) {
                if (currentTask == null) {
                    currentTask = splitted[0];
                %>
    <li class="formLayout">
    <span for="Tasks_Variables" class="Name caretUL" title="Tasks Variables (inherited variables are not displayed)" style="text-align:left; font-weight: bold" data-toggle="tooltip">Tasks Variables</span>
    <ul class="nestedUL">
    <li class="formLayout">
    <span for="<%- splitted[0] %>" class="Name caretUL" title="<%- splitted[0] %>" style="text-align:left; font-weight: bold" data-toggle="tooltip"><%- splitted[0] %></span>
    <ul class="nestedUL">
                <%
                } else if (currentTask != splitted[0]) {
                    currentTask = splitted[0];
        %>
    </ul>
    </li>
    <li class="formLayout">
    <span for="<%- splitted[0] %>" class="Name caretUL" title="<%- splitted[0] %>" style="text-align:left; font-weight: bold" data-toggle="tooltip"><%- splitted[0] %></span>
    <ul class="nestedUL">
        <%
                }
            }
    %>
        <li class="formLayout">
            <label for="<%- key %>" class="Name" title="<%- key %>" data-toggle="tooltip"><%- (key.split(":").length == 2 ? key.split(":")[1] : key) %></label>
            <%
               var model = null;
               if (variable.hasOwnProperty("Model")) {
                   model = variable.Model;
                   if (model.toLowerCase().indexOf('pa:model_from_url') != -1) {
                        // fetch the specified urls and replace the current model by the result
                        var indexBegin = model.indexOf('(');
                        var indexEnd = model.lastIndexOf(')');
                        var urlToFetch = model.substring(indexBegin + 1 , indexEnd)
                        var origin = window.location.origin
                        if (!origin.endsWith('/')) {
                            origin += '/'
                        }
                        urlToFetch = urlToFetch.replace('${PA_CATALOG_REST_URL}', origin + 'catalog');
                        urlToFetch = urlToFetch.replace('${PA_SCHEDULER_REST_URL}', origin + 'rest');
                        $.ajax({url: urlToFetch,
                            async: false,
                            dataType: "text",
                            success: function(data) {
                                model = data;
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert("Could not fetch model from url '" + urlToFetch + "': " + xhr.responseText);
                            }
                        });
                        // failure to fetch implies no change in the model
                   }
               }
               if (model && model.toLowerCase().indexOf('pa:list')!=-1) {  %>
                <select class="form-control variableValue" name="<%- key %>" id="<%- key %>" onchange="$('#check-button').click()" data-variable-model="<%- model %>">
                    <% var indexBegin = model.indexOf('(');
                        var indexEnd = model.lastIndexOf(')');
                        var options = model.substring(indexBegin +1 , indexEnd).split(',');
                        for (var i in options) {
                            var option = options[i].trim();
                            if (option === variable.Value) { %>
                                <option selected><%- option %></option>
                            <% } else %>
                                <option><%- option %></option>
                    <% } %>
                </select>
            <% } else if (model && model.toLowerCase().indexOf('pa:boolean')!=-1) {  %>
                <div class="variableValue radio-div" id="<%- key %>" onchange="$('#check-button').click()" data-variable-model="<%- model %>">
                <% if (variable.Value.toLowerCase() === 'true' || variable.Value == 1) %>
                    <label class="radio-inline"><input type="radio" name="<%- key %>" value="true" checked/>TRUE</label>
                    <label class="radio-inline"><input type="radio" name="<%- key %>" value="false"/>FALSE</label>
                <% else %>
                    <label class="radio-inline"><input type="radio" name="<%- key %>" value="true"/>TRUE</label>
                    <label class="radio-inline"><input type="radio" name="<%- key %>" value="false" checked/>FALSE</label>
                </div>
            <% } else if (model && model.toLowerCase().indexOf('pa:hidden')!=-1) {  %>
                <input class="variableValue textareavalues submitVariableValue" name="<%- key %>" type="password" data-variable-model="<%- model %>" id="<%- key %>" value="<%- variable.Value %>" autocomplete="new-password" />
                <label class="Extra" data-toggle="tooltip" title="<%- model %>"><%- model ? ((model.length >= 20) ? model.substring(0, 20) + " ..." : model):""  %></label>
            <% } else if (model && model.toLowerCase().indexOf('pa:credential')!=-1) {  %>
                <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- variable.Name %>" data-variable-model="<%- model %>" id="<%- key %>" ><%- variable.Value %></textarea>
                <label class="short" data-toggle="tooltip" title="<%- model %>"><%- model ? ((model.length >= 20) ? model.substring(0, 20) + " ..." : model):""  %></label>
                <button id="third-party-credential-button" title="Manage third-party credentials" type="button" class="btn" style="background-color:Transparent"><img src="images/key.png"></button>
            <% } else if (model && model.toLowerCase().indexOf('pa:global_file')!=-1) {  %>
                <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- variable.Name %>" data-variable-model="<%- model %>" id="<%- key %>" ><%- variable.Value %></textarea>
                <label class="short" data-toggle="tooltip" title="<%- model %>"><%- model ? ((model.length >= 20) ? model.substring(0, 20) + " ..." : model):""  %></label>
                <button id="var-globalfile-button" title="Browse global space files" value="<%- key %>" type="button" class="btn far fa-folder-open" style="background-color:Transparent"></button>
            <% } else {  %>
                <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- key %>" data-variable-model="<%- model %>" id="<%- key %>" ><%- variable.Value %></textarea>
                <label class="Extra" data-toggle="tooltip" title="<%- model %>"><%- model ? ((model.length >= 20) ? model.substring(0, 20) + " ..." : model):""  %></label>
            <% }  %>
        </li>
    <%    }
        }
        if (currentTask != null) {
        %>
    </ul>
    </li>
    </ul>
    </li>
        <%
        }

        %>
</ul>
<label style="color:red;text-align:center;width:100%"><%- errorMessage %></label>
<label style="color:green;text-align:center;width:100%"><%- infoMessage %></label>
