<div>
    <center>
        <% _.each(jobGenericInfos, function(gi) {
                    var label = gi["Property Name"];
                    if (label == "workflow.icon" )  %>
                        <img src="<%=gi["Property Value"]%>" style="width:100px;height:100px;">
        <% }) %>

        <h4 class="modal-title"><%- jobName %> </h4>
    </center>

    <span class="font-bold"><b>Description : </b><div class="description"><small><%- jobDescription %></small></div></span>
    <span class="font-bold"><b>Project name : </b><small><%- jobProjectName %></small></span><br>
    <% if (jobTags && jobTags.length>0) { %>
    <span class="font-bold"><b>Tags : </b><small><%=jobTags.join()%></small></span><br>
    <% } %><br>
    <% _.each(jobGenericInfos, function(gi) {
    var label = gi["Property Name"];
    if (label == "bucketName" )  %>
    <span class="font-bold"><b>Bucket name : </b><small><%=gi["Property Value"] %></small></span><br>
<% }) %>

<% _.each(jobGenericInfos, function(gi) {
	var label = gi["Property Name"];
    if (label == "Documentation" )  %>
    <span class="font-bold"><b> Documentation : </b><small><a href='<%="/doc/"+gi["Property Value"]%>' target="_blank"><%=gi["Property Value"]%></a></small></span><br>
<% }) %>

</div>
<style>
    .hidden-var {display: none !important;}
    .advanced-var {display: <%= showAdvanced ? 'inherit' : 'none' %>;}
    ul li.formLayout label.advanced-to-hide {display: <%= showAdvanced ? 'none' : 'inherit' %>;}
    ul li.formLayout br.advanced-to-hide {display: <%= showAdvanced ? 'none' : 'inherit' %>;}
</style>
<br>
<%
var totalNumberOfadvancedVariables = 0;
for (var key in jobVariables) {
    var variable;
    var hidden = false;
    var resolvedHidden = false;
    if (jobVariables.hasOwnProperty(key)) {
        variable = jobVariables[key];
        if (variable.hasOwnProperty("Hidden")) {
            hidden = variable.Hidden;
        }
        if (variable.hasOwnProperty("resolvedHidden")) {
            hidden = variable.resolvedHidden;
        }
        if (!hidden && variable.hasOwnProperty("Advanced") && variable.Advanced) {
            totalNumberOfadvancedVariables++;
        }
    }
}
%>
<ul id="submitFormUL">
    <div style="display: table; width: 100%">
        <span for="Job_Variables" class="Name" style="text-align:left; font-weight: bold; display: table-cell; width: 90%" data-toggle="tooltip">Job Variables</span>
        <%
        if (totalNumberOfadvancedVariables > 0) {
        %>
        <label for="Advanced" style="text-align: left; display: table-cell; width: 10%; vertical-align: middle;" data-toggle="tooltip">Advanced
            <%
                if (showAdvanced) {
                    %>
            <input class="Name" id="advanced-checkbox" type="checkbox" checked style="margin-left: 3px; display: table-cell; vertical-align: middle; margin-bottom: 5px;">
                    <%
                } else {
                    %>
            <input class="Name" id="advanced-checkbox" type="checkbox" style="margin-left: 3px; display: table-cell; vertical-align: middle; margin-bottom: 5px;">
                    <%
                }
            %>
        </label>
        <script type="text/javascript">
        //<![CDATA[
jQuery(document).ready(function($){
	$('#advanced-checkbox').on('change', function() {
        if ($(this).is(':checked')) {
            // show the advanced variables
            $('.advanced-var').css('display', 'inherit')
            // hide group labels of visible variables if necessary (see below)
            $('.advanced-to-hide').css('display', 'none')
        } else {
            // hide the advanced variables
            $('.advanced-var').css('display', 'none')
            // show group labels of visible variables if necessary (see below)
            $('.advanced-to-hide').css('display', 'inherit')
        }
    })
})
        //]]>
        </script>
        <%
        }
        %>
    </div>
    <%

        // contains the current workflow task
        var currentTask = null;
        // contains the current group of variables
        var currentGroup = null;

        // The following algorithm handles the complicated group display, which must appear on top of a set of variables, where some may be hidden or advanced.
        // handling of advanced variables is especially difficult where they appear in the list before visible variables
        // in that case, we must add two group labels in the list, one visible and one invisible, which will be toggled on/off when the advanced checkbox changes.
        var groupDisplayStack = [];
        function displayGroupStrategy(stack) {
            var advancedVariables = 0;
            var visibleVariables = 0;
            for (var i = 0; i < stack.length; i++) {
                if (stack[i] === 'advanced') {
                    advancedVariables++;
                    if (advancedVariables == 1 && visibleVariables == 0 && i == stack.length - 1) {
                        return 'display';
                    }
                }
                else if (stack[i] === 'visible') {
                    visibleVariables++;
                    if (visibleVariables == 1 && i == stack.length - 1) {
                        // display-with-class means that the group label will be visible or not, depending on the advanced checkbox status
                        return advancedVariables == 0 ? 'display' : 'display-with-class';
                    }
                }
            }
            return 'none';
        }

        for (var key in jobVariables) {
            var variable;
            var hidden = false;
            var resolvedHidden = false;
            var description = "";
            var group = "";
            var advanced = false;

            if (jobVariables.hasOwnProperty(key)) {
                variable = jobVariables[key];
                if (variable.hasOwnProperty("Hidden")) {
                    hidden = variable.Hidden;
                }
                if (variable.hasOwnProperty("resolvedHidden")) {
                    resolvedHidden = variable.resolvedHidden;
                }
                if (variable.hasOwnProperty("Description")) {
                    description = variable.Description;
                }
                if (variable.hasOwnProperty("Group")) {
                    group = variable.Group;
                }
                if (variable.hasOwnProperty("Advanced")) {
                    advanced = variable.Advanced;
                }

                var splitted = key.split(":");
                if (splitted.length == 2) {
                    if (currentTask == null) {
                        currentTask = splitted[0];
                        currentGroup = null;
                        groupDisplayStack = [];
                %>
    <li class="formLayout">
    <span for="Tasks_Variables" class="Name caretUL<%- toggledTasks.length > 0 ? ' caretUL-down' : '' %>" title="Tasks Variables (inherited variables are not displayed)" style="text-align:left; font-weight: bold" data-toggle="tooltip">Tasks Variables</span>
    <ul class="nestedUL<%- toggledTasks.length > 0 ? ' activeUL' : '' %>">
    <li class="formLayout">
    <span for="<%- splitted[0] %>" class="Name caretUL<%- toggledTasks.indexOf(splitted[0]) >= 0 ? ' caretUL-down' : '' %>" title="<%- splitted[0] %>" style="text-align:left; font-weight: bold" data-toggle="tooltip"><%- splitted[0] %></span>
    <ul class="nestedUL<%- toggledTasks.indexOf(splitted[0]) >= 0 ? ' activeUL' : '' %>">
                <%
                    } else if (currentTask != splitted[0]) {
                        currentTask = splitted[0];
                        currentGroup = null;
                        groupDisplayStack = [];
        %>
    </ul>
    </li>
    <li class="formLayout">
    <span for="<%- splitted[0] %>" class="Name caretUL<%- toggledTasks.indexOf(splitted[0]) >= 0 ? ' caretUL-down' : '' %>" title="<%- splitted[0] %>" style="text-align:left; font-weight: bold" data-toggle="tooltip"><%- splitted[0] %></span>
    <ul class="nestedUL<%- toggledTasks.indexOf(splitted[0]) >= 0 ? ' activeUL' : '' %>">
        <%
                    }
                }
    %>
        <li class="formLayout<%- resolvedHidden ? ' hidden-var' : '' %><%- advanced ? ' advanced-var' : '' %>">
            <%
                if (group !== currentGroup) {
                    // a new group to handle
                    currentGroup = group;
                    groupDisplayStack = [];
                }
                if (resolvedHidden) {
                    groupDisplayStack.push('hidden');
                } else if (advanced) {
                    groupDisplayStack.push('advanced');
                } else {
                    groupDisplayStack.push('visible');
                }
                var strategy = displayGroupStrategy(groupDisplayStack);
                if (strategy === 'display') {
                        %>
            <label class="Name" style="font-weight: bold !important; text-align: right; text-decoration: underline;" data-toggle="tooltip"><%- group && group !== "" ? group : "Main Variables" %></label>
            <br/>

                    <%
                } else if (strategy === 'display-with-class') {
                    %>
            <label class="Name advanced-to-hide" style="font-weight: bold !important; text-align: right;  text-decoration: underline;" data-toggle="tooltip"><%- group && group !== "" ? group : "Main Variables" %></label>
            <br class="advanced-to-hide"/>

                    <%
                }
            %>
            <div style="display:inline-flex; justify-content: right; width:30%"><label for="<%- key %>" class="Name" style="width: initial" data-help-self data-help="<%- description %>" ><%- (key.split(":").length == 2 ? key.split(":")[1] : key) %></label></div>
            <%
                var model = null;
                var resolvedModel = null;

                if (variable.hasOwnProperty("Model")) {
                    model = variable.Model;
                    if (variable.hasOwnProperty("resolvedModel")) {
                        resolvedModel = variable.resolvedModel;
                    } else {
                        resolvedModel = variable.Model;
                    }
                    if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:model_from_url') ==0) {
                        // fetch the specified urls and replace the current model by the result
                        var indexBegin = resolvedModel.indexOf('(');
                        var indexEnd = resolvedModel.lastIndexOf(')');
                        var urlToFetch = resolvedModel.substring(indexBegin + 1 , indexEnd)
                        var origin = window.location.origin
                        if (!origin.endsWith('/')) {
                            origin += '/'
                        }
                        urlToFetch = urlToFetch.replace('${PA_CATALOG_REST_URL}', origin + 'catalog');
                        urlToFetch = urlToFetch.replace('${PA_SCHEDULER_REST_URL}', origin + 'rest');
                        $.ajax({url: urlToFetch,
                            async: false,
                            dataType: "text",
                            success: function(data) {
                            resolvedModel = data;
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert("Could not fetch model from url '" + urlToFetch + "': " + xhr.responseText);
                            }
                        });
                        // failure to fetch implies no change in the model
                    }
                }
                var shortenModel = resolvedModel ? ((resolvedModel.length > 14) ? resolvedModel.substring(0, 14) + " ..." : resolvedModel) : "";
                if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:list')==0) {  %>
                    <select class="form-control variableValue" name="<%- key %>" id="<%- key %>" onchange="$('#check-button').click()" title="<%- description %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" >
                        <% var indexBegin = resolvedModel.indexOf('(');
                            var indexEnd = resolvedModel.lastIndexOf(')');
                            var options = resolvedModel.substring(indexBegin +1 , indexEnd).split(',');
                            for (var i in options) {
                                var option = options[i].trim();
                                if (option === variable.Value) { %>
                                    <option selected><%- option %></option>
                                <% } else %>
                                    <option><%- option %></option>
                        <% } %>
                        </select>
                <% } else if ((resolvedModel && resolvedModel.toLowerCase().indexOf('pa:boolean')==0) ) {  %>
                        <div class="variableValue radio-div" id="<%- key %>" onchange="$('#check-button').click()" title="<%- description %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>">
                    <% if (variable.Value && (variable.Value.toLowerCase() === 'true' || Number(variable.Value) > 0)) %>
                            <label class="radio-inline"><input type="radio" name="<%- key %>" value="true" checked/>TRUE</label>
                            <label class="radio-inline"><input type="radio" name="<%- key %>" value="false"/>FALSE</label>
                    <% else %>
                            <label class="radio-inline"><input type="radio" name="<%- key %>" value="true"/>TRUE</label>
                            <label class="radio-inline"><input type="radio" name="<%- key %>" value="false" checked/>FALSE</label>
                        </div>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:hidden')==0) {  %>
                        <input class="variableValue textareavalues submitVariableValue" name="<%- key %>" type="password" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" autocomplete="new-password" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                        <label class="Extra" data-toggle="tooltip" title="<%- resolvedModel %>"><%- resolvedModel  %></label>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:credential')==0) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- model %>"><%- model  %></label>
                            <button title="Manage third-party credentials" class="third-party-credential-button btn" value="<%- key %>" type="button" style="background-color:Transparent"><img src="images/key.png"></button>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:global_file') ==0 ) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                            <button title="Browse Global Space files, Upload, and Select one file" value="<%- key %>" class="var-globalfile-button btn far fa-folder-open" type="button" style="background-color:Transparent"></button>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:user_file') ==0 ) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                            <button title="Browse User Space files, Upload, and Select one file" value="<%- key %>" class="var-userfile-button btn far fa-folder-open" type="button" style="background-color:Transparent"></button>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:global_folder') ==0 ) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                            <button title="Browse, Upload Global Space files, and Select one folder" value="<%- key %>" class="var-globalfolder-button btn far fa-folder-open" type="button" style="background-color:Transparent"></button>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:user_folder') ==0 ) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                            <button title="Browse, Upload User Space files, and Select one folder" value="<%- key %>" class="var-userfolder-button btn far fa-folder-open" type="button" style="background-color:Transparent"></button>
                <% } else if (resolvedModel && resolvedModel.toLowerCase().indexOf('pa:catalog_object') ==0 ) {  %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="short" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                            <button title="Select one catalog object" value="<%- key %>" class="var-catalogobject-button btn" type="button" style="background-color:Transparent">
                                <img src="images/catalog-portal.png" height="20">
                            </button>
                <% } else if (resolvedModel && (resolvedModel.toLowerCase().indexOf('pa:not_empty_string') == 0 || resolvedModel.toLowerCase().indexOf('pa:json') == 0 || resolvedModel.toLowerCase().indexOf('pa:spel') == 0 || resolvedModel.toLowerCase().indexOf('pa:regexp') == 0) ) {  %>
                            <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- key %>" title="<%- description %>" id="<%- key %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>"><%- variable.Value %></textarea>
                            <label class="Extra" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                <% } else if (!resolvedModel) {  %>
                            <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- key %>" title="<%- description %>" id="<%- key %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>"><%- variable.Value %></textarea>
                            <label class="Extra" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                <% } else { %>
                            <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- key %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                            <label class="Extra" data-toggle="tooltip" title="<%- resolvedModel %>"><%- shortenModel %></label>
                <% }
            %>
        </li>
    <%
        }
    }
    if (currentTask != null) {
        %>
    </ul>
    </li>
    </ul>
    </li>
        <%
    }

        %>
</ul>
<label style="color:red;text-align:center;width:100%"><%- errorMessage %></label>
<label style="color:green;text-align:center;width:100%"><%- infoMessage %></label>
