<center>
<% _.each(jobGenericInfos, function(gi) { 
    		var label = gi["Property Name"];
    		if (label == "pca.action.icon" )  %>
    			<img src="<%=gi["Property Value"]%>" style="width:100px;height:100px;">
<% }) %>

<h4 class="modal-title"><%- jobName %> </h4>
<small class="font-bold"><b>Description : </b><%- jobDescription %></small><br>
<small class="font-bold"><b>Project name : </b><%- jobProjectName %></small><br>
<% _.each(jobGenericInfos, function(gi) { 
    var label = gi["Property Name"];
    if (label == "bucketName" )  %>
    	<small class="font-bold"><b>Bucket name : </b><%=gi["Property Value"] %></small><br>
<% }) %>
    
<% _.each(jobGenericInfos, function(gi) { 
	var label = gi["Property Name"];
    if (label == "Documentation" )  %>
		<small class="font-bold"><b> Documentation : </b><a href='<%=gi["Property Value"]%>' target="_blank"><%=gi["Property Value"]%></a></small><br>
<% }) %>
   
</center>


<br>
<ul>
    <% for (var key in jobVariables) {
         if (jobVariables.hasOwnProperty(key)) {
            var variable = jobVariables[key];
    %>
        <li class="formLayout">
            <label for="<%- key %>" class="Name" title="<%- key %>" data-toggle="tooltip"><%- key %></label>
            <% if (variable.hasOwnProperty("Model") && variable.Model.toLowerCase().indexOf('pa:list')!=-1) {  %>
                <select class="form-control variableValue" name="<%- variable.Name %>" id="<%- key %>" data-variable-model="<%- variable.Model %>">
                    <% var indexBegin = variable.Model.indexOf('(');
                        var indexEnd = variable.Model.lastIndexOf(')');
                        var options = variable.Model.substring(indexBegin +1 , indexEnd).split(',');
                        for (var i in options) {
                            var option = options[i].trim();
                            if (option === variable.Value) { %>
                                <option selected><%- option %></option>
                            <% } else %>
                                <option><%- option %></option>
                    <% } %>
                </select>
            <% } else if (variable.hasOwnProperty("Model") && variable.Model.toLowerCase().indexOf('pa:boolean')!=-1) {  %>
                <% if (variable.Value === 'true' || variable.Value == 1) %>
                    <input class="variableValue" type="checkbox" name="<%- variable.Name %>" id="<%- key %>" data-variable-model="<%- variable.Model %>" checked/>
                <% else %>
                    <input class="variableValue" type="checkbox" name="<%- variable.Name %>" id="<%- key %>" data-variable-model="<%- variable.Model %>"/>
            <% } else {  %>
                <input class="variableValue" type="text" name="<%- variable.Name %>" value="<%- variable.Value %>" data-variable-model="<%- variable.Model %>" id="<%- key %>" />
                <label class="Extra" data-toggle="tooltip" title="<%- variable.Model %>"><%- variable.hasOwnProperty("Model") ? ((variable.Model.length >= 20) ? variable.Model.substring(0, 20) + " ..." : variable.Model):""  %></label>
            <% }  %>
        </li>
    <%} }%>
</ul>
<label style="color:red;text-align:center;width:100%"><%- errorMessage %></label>
<label style="color:green;text-align:center;width:100%"><%- infoMessage %></label>