<?xml version="1.0" encoding="UTF-8"?>
<job xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:proactive:jobdescriptor:3.11" xsi:schemaLocation="urn:proactive:jobdescriptor:3.11 http://www.activeeon.com/public_content/schemas/proactive/jobdescriptor/3.11/schedulerjob.xsd"  name="<%= job["Name"]%>" <% if (job["Project"] && job["Project"].length>0) { %>projectName="<%= job["Project"]%>"<% } %> priority="<%= job["Job Priority"]%>" onTaskError="<%= job["On Task Error Policy"]%>" <% if (job["Number of Execution Attempts"]&&parseInt(job["Number of Execution Attempts"])>0) { %> maxNumberOfExecution="<%= job["Number of Execution Attempts"]%>"<% } %> <% if (job["If An Error Occurs Restart Task"]!='anywhere') { %> restartTaskOnError="<%= job["If An Error Occurs Restart Task"]%>" <% } %>>
    <% if (job["Variables"] && job["Variables"].length>0) { %>
    <variables>
    <% _.each(job["Variables"], function(variable) { %>
            <variable name="<%=variable["Name"]%>" value="<%=escapeHtml(variable.hasOwnProperty("Value")?variable["Value"]:"")%>" <% if (variable.hasOwnProperty("Model")) { %>model="<%=escapeHtml(variable["Model"])%>"<% }%>/>
    <% }) %>
    </variables>
    <% } %>

    <% if (job["Description"] && job["Description"].length>0) { %>
    <description> <![CDATA[ <%= job["Description"]%> ]]> </description>
    <% } %>

    <% if (job["Generic Info"] && job["Generic Info"].length>0) { %>
    <genericInformation>
    <% _.each(job["Generic Info"], function(gi) { %>
            <info name="<%=gi["Property Name"]%>" value="<%= _.escape(gi["Property Value"]) %>"/>
    <% }) %>
    </genericInformation>
    <% } %>

    <% if (job["Input Space Url"] && job["Input Space Url"].length>0) { %>
    <inputSpace url="<%= job["Input Space Url"]%>"/>
    <% } %>
    <% if (job["Output Space Url"] && job["Output Space Url"].length>0) { %>
    <outputSpace url="<%= job["Output Space Url"]%>"/>
    <% } %>
    <% if (job["Global Space Url"] && job["Global Space Url"].length>0) { %>
    <globalSpace url="<%= job["Global Space Url"]%>"/>
    <% } %>
    <% if (job["User Space Url"] && job["User Space Url"].length>0) { %>
    <userSpace url="<%= job["User Space Url"]%>"/>
    <% } %>

    <taskFlow>
        <% _.each(tasks, function(task) { %>
                <%=task%>
        <% }) %>
    </taskFlow>

    <metadata>
        <visualization>
            <% if (visualization) { %>
                <![CDATA[ <%=visualization%> ]]>
            <% } %>
        </visualization>
    </metadata>

</job>