
<div id="login-view">
    <div class="login-container" id="login-container">
        <img src="images/logo_350.png" class="login-logo-image"/>

        <div class="login-header-container">
            <div class="login-header" align="left">
                    <div style="float:left;width:50%">
                        Studio <span class="login-font-normal">login</span>
                    </div>
                    <div style="float:right;width:50%;padding-right:15px;text-align:right">
                        <img id="login_option_plus" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgklEQVR42mNgGDRg6cbD/4nFOA24+vk/QUzQgO5pq4nGOA0gxiUEDXjzC4EZ3apQ+CBM0IB3vxEYZAC6GEEDPv5GYJgByGIEDQBpwoWJMuDbX0SAwVxAUiD+/IvAMAOQxbAaAMIwA4ABDccwA5DFMAyAAZgBf/6jYnQxvAaQlRLJBQBTOhTbk2BpDQAAAABJRU5ErkJggg==" style="vertical-align:middle" name="isc_Ficon" eventpart="icon" suppress="TRUE" draggable="true" height="16" border="0" align="absmiddle" width="16">
                        <img id="login_option_minus" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZ0lEQVR42mNgGDRg6cbD/4nFOA24+vk/QUzQgO5pq4nGOA0gxiUEDXjzCz8maMC73/gxQQM+/saPCRrA6FaFExNlwLe/FAbiz7/4MVYDQBhmADCg8WIMA2AAZsCf//gxXgPISonkAgBSlSKYRZjLygAAAABJRU5ErkJggg==" style="vertical-align:middle" name="isc_Ficon" eventpart="icon" suppress="TRUE" draggable="true" height="16" border="0" align="absmiddle" width="16">
                        <span class="login-font-normal">more options</span>
                    </div>
            </div>
            <div class="login-form-container">
                <form class="form-horizontal" role="presentation" id="login-form" autocomplete="off">
                    <div id="login_option_mode" class="form-group">
                        <label class="control-label">Mode: </label>
                        <select class="controls" name="login_mode_list">
                            <option>Basic</option>
                            <option>Credentials</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user">User: </label>
                        <div class="controls">
                            <input type="text" style="display:none;" value="">
                            <input type="text" id="user" value="" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password: </label>
                        <div class="controls">
                            <input type="password" id="password" required>
                        </div>
                    </div>
                    <div id="login_option_ssh" class="form-group">
                        <input id="login_option_ssh_checkbox" type="checkbox">
                    </div>
                    <div id="login_attach_file" class="form-group">
                        <div class="buttons-container">
                            <button type="submit" class="btn btn-primary">Browse</button>
                            <label class="control-label">No file selected</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="buttons-container">
                            <button type="submit" class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>