<div class="control-group field-<%= key %>">
    <div <%if(catalogKind != 'Script/selection') {%> style="width:90%" <% } %>>
        <label class="control-label" for="<%= editorId %>"><%= title %></label>
        <a href="#" class="edit-full-screen glyphicon glyphicon-edit pull-right" title="Edit imported script" data-related-input="<%= editorId %>" data-catalog-kind="<%= catalogKind %>" data-is-url="true"></a>
        <a href="#" class="get-script-from-catalog glyphicon glyphicon-download pull-right" title="Set url to a catalog script" data-related-input="<%= editorId %>" data-catalog-kind="<%= catalogKind %>" style="margin-right: 5px;"></a>
    </div>
    <div class="controls">
        <span data-editor></span>
        <div style="width:90%">
            <div class="help-inline" data-error></div>
            <div class="help-block"><%= help %></div>
        </div>
    </div>
</div>
