<% if (model["Library Path"] && model["Library Path"].length>0 || model["Script"] && model["Script"].length>0 || model["Language"]) { %>
    <% print("<sc"+"ript") %>
        <% if (model["Type"]) { %> type="<%=model["Type"]%>" <% }%>>
            <% if (model["Script"] && model["Script"].length>0 && !model["Library Path"] || model["Language"]) {%>
                <code language="<%=model["Language"]%>">
<![CDATA[
<%= model["Script"] %>
]]>
                </code>
            <% } else { %>
                <% if (model["Library Path"] && model["Library Path"].length>0) { %>
                    <file path="<%=model["Library Path"]%>">
                <% }%>

                <% if (model["Arguments"] && model["Arguments"].length>0) { %>
                    <arguments>
                    <% _.each(model["Arguments"], function(arg) { %>
                    <argument value="<%=arg%>"/>
                    <% }) %>
                    </arguments>
                <% }%>
            <% if (model["Library Path"] && model["Library Path"].length>0) { %>
            </file>
         <% }%>
    <% } %>
<% print("</sc"+"ript>") %>
<% }
%>