<div class="control-group field-<%= key %>">
    <div style="width:90%">
        <label class="control-label" for="<%= editorId %>"><%= title %></label>
        <a href="#" class="get-script-from-catalog glyphicon glyphicon-download pull-right" title="import a script from the catalog" data-related-textArea="<%= editorId %>"></a>
        <a href="#" class="publish-script-to-catalog glyphicon glyphicon-upload pull-right" title="export this script to the catalog" style="margin-right: 5px;" data-related-textArea="<%= editorId %>"></a>
    </div>
    <div class="controls">
        <span data-editor></span>
        <div style="width:90%">
            <div class="help-inline" data-error></div>
            <div class="help-block"><%= help %></div>
            <a href="#" class="edit-full-screen glyphicon glyphicon-edit pull-right" title="edit this script in a modal window"></a>
        </div>
    </div>
</div>
