<div class="control-group field-<%= key %> selection-script-code-form">
    <div>
        <label class="control-label" for="<%= editorId %>"><%= title %></label>
        <a href="#" class="publish-script-to-catalog glyphicon glyphicon-upload pull-right" title="Export this script to the catalog" data-related-input="<%= editorId %>" data-catalog-kind="Script/selection"></a>
        <a href="#" class="get-script-from-catalog glyphicon glyphicon-download pull-right" title="Import a script from the catalog" data-related-input="<%= editorId %>" data-catalog-kind="Script/selection" style="margin-right: 5px;"></a>
        <a href="#" class="edit-full-screen glyphicon glyphicon-edit pull-right" title="Edit this script in a modal window" data-catalog-kind="Script/selection" data-related-input="<%= editorId %>" data-is-url="false" style="margin-right: 5px;"></a>
    </div>
    <div class="controls">
        <span data-editor></span>
        <div style="width:100%">
            <div class="help-inline" data-error></div>
            <div class="help-block"><%= help %></div>
        </div>
    </div>
</div>
