<div class="text-center">
    <% _.each(jobModel['Generic Info'], function(gi) {
    var label = gi["Property Name"];
    if (label == "workflow.icon" )  %>
        <img src="<%=gi["Property Value"]%>" style="width:100px;height:100px;">
    <%
    })
    %>
    <h4 class="modal-title"><%- jobModel.Name %> </h4>
</div>
<%

// Count the total number of advanced, hidden and visible variables per group and in general
var totalNumberOfadvancedVariables = 0;
var totalNumberOfHiddenVariables = 0;
var countsPerGroup = {};
for (var key in jobVariables) {
    var variable;
    var hidden = false;
    if (jobVariables.hasOwnProperty(key)) {
        variable = jobVariables[key];
        var group='_NO_GROUP_'
        if (variable.hasOwnProperty('Group')) {
            group = variable.Group
        }
        if (!countsPerGroup.hasOwnProperty(group)){
            countsPerGroup[group] = {hidden:0,advanced:0,visible:0}
        }

        if (variable.hasOwnProperty("Hidden") && variable.Hidden) {
            hidden = variable.Hidden;
            totalNumberOfHiddenVariables++;
            countsPerGroup[group].hidden++;
        }
        if (!hidden && variable.hasOwnProperty("Advanced") && variable.Advanced) {
            totalNumberOfadvancedVariables++;
            countsPerGroup[group].advanced++;
        }
        if (!variable.Hidden && !variable.Advanced){
            countsPerGroup[group].visible++;
        }
    }
}
%>
<ul id="submitFormUL">
    <div class="formLayout">
        <div for="Workflow_Variables" class="w-100 font-bold" data-toggle="tooltip">Workflow Variables</div>
        <%
        if (totalNumberOfadvancedVariables > 0) {
        %>
        <label class="m-l-xs" for="Advanced" style="color: #E86D1F; white-space: nowrap;" data-toggle="tooltip">Advanced
            <input id="advanced-checkbox" type="checkbox" <%- showAdvanced ? 'checked' : '' %> style="margin-left: 3px; display: table-cell; vertical-align: middle; margin-bottom: 5px;">
        </label>
        <%
        }if (totalNumberOfHiddenVariables > 0) {
        %>
        <label class="m-l-xs" for="Hidden" style="color: #888; white-space: nowrap;" data-toggle="tooltip">Hidden
            <input id="hidden-checkbox" type="checkbox" <%- showHidden ? 'checked' : '' %> style="margin-left: 3px; display: table-cell; vertical-align: middle; margin-bottom: 5px;">
        </label>
        <%
        }
        %>
        <script type="text/javascript">
            //<![CDATA[
            jQuery(document).ready(function ($) {
                $('#advanced-checkbox').on('change', function () {
                    if ($(this).is(':checked')) {
                        // show advanced variables
                        $('.advanced-var').toggleClass('hidden',false)
                        // show group labels with only advanced variables if necessary (see below)
                        $('.group-advanced').toggleClass('hidden',false)
                    } else {
                        // hide advanced variables
                        $('.advanced-var').toggleClass('hidden',true)
                        // hide group labels with only advanced  variables if necessary (see below)
                        $('.group-advanced').toggleClass('hidden',true)
                    }
                })
                $('#hidden-checkbox').on('change', function () {
                    if ($(this).is(':checked')) {
                        // show hidden variables
                        $('.hidden-var').toggleClass('hidden',false)
                        // show group labels with only hidden  variables if necessary (see below)
                        $('.group-hidden').toggleClass('hidden',false)
                    } else {
                        // hide hidden variables
                        $('.hidden-var').toggleClass('hidden',true)
                        // hide group labels with only hidden  variables if necessary (see below)
                        $('.group-hidden').toggleClass('hidden',true)
                    }
                })
            })
            //]]>
        </script>
    </div>
    <%
    // The following algorithm handles the complicated group display, which must appear on top of a set of variables, where some may be hidden or advanced.
    // handling of advanced variables is especially difficult where they appear in the list before visible variables
    function getGroupClass(group){
        var groupName=group?group:'_NO_GROUP_';
        var cssClass=''
        if (countsPerGroup[groupName].visible) {
            return ''
        }
        if (countsPerGroup[groupName].hidden) {
            cssClass+='group-hidden '
        }
        if (countsPerGroup[groupName].advanced) {
            cssClass+='group-advanced '
        }
        if ((showHidden && countsPerGroup[groupName].hidden) || (showAdvanced && countsPerGroup[groupName].advanced)) {
            return cssClass;
        } else {
            return cssClass+ ' hidden'
        }
    }

    var variableOrder = 0;
    for (var key in jobVariables) {
        var variable;
        var description = "";
        var group = "";
        var hidden = false;
        var advanced = false;
        variableOrder++

        if (jobVariables.hasOwnProperty(key)) {
            variable = jobVariables[key];
            if (variable.hasOwnProperty("Hidden")) {
                hidden = variable.Hidden;
            }
            if (variable.hasOwnProperty("Description")) {
                description = variable.Description;
            }
            if (variable.hasOwnProperty("Group")) {
                group = variable.Group;
            }
            if (variable.hasOwnProperty("Advanced")) {
                advanced = variable.Advanced;
            }

            if (variable.isTop) {
            %>
        <li class="formLayout container-flex group-header <%- getGroupClass(group) %>">
            <label class="col-md-3" style="font-weight: bold !important; text-align: right; text-decoration: underline;" data-toggle="tooltip"><%- group && group !== "" ? group : "Main Variables" %></label>
            <%
            if (group) {
            %>
            <div class="btn-group container-flex m-l-xxs">
                <button type="button" class="btn btn-default group-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up this Group of Variables" <%= variable.isTopGroup ? 'disabled' : '' %> ></button>
                <button type="button" class="btn btn-default group-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down this Group of Variables" <%= variable.isBottomGroup ? 'disabled' : '' %>></button>
            </div>
            <%
            }
            %>
        </li>
            <%
            }
            %>
        <li class="formLayout container-flex <%- hidden ? (showHidden ? 'hidden-var' : 'hidden-var hidden') : '' %> <%- advanced ? (showAdvanced ? 'advanced-var' : 'advanced-var hidden') : '' %> <%- !advanced && !hidden ?'visible':'' %>">
            <div class="variableName col-md-3"><label for="<%- key %>" style="width: initial" data-help-self data-help="<%- description %>" ><%- (key.split(":").length == 2 ? key.split(":")[1] : key) %></label><span class="badge m-l-xxs"><%- variableOrder %></span></div>
            <%
            var model = null;

            if (variable.hasOwnProperty("Model")) {
                model = variable.Model;

                if (model && model.toLowerCase().indexOf('pa:model_from_url') ==0) {
                    // fetch the specified urls and replace the current model by the result
                    var indexBegin = model.indexOf('(');
                    var indexEnd = model.lastIndexOf(')');
                    var urlToFetch = model.substring(indexBegin + 1 , indexEnd)
                    var origin = window.location.origin
                    if (!origin.endsWith('/')) {
                        origin += '/'
                    }
                    urlToFetch = urlToFetch.replace('${PA_CATALOG_REST_URL}', origin + 'catalog');
                    urlToFetch = urlToFetch.replace('${PA_CATALOG_REST_PUBLIC_URL}', origin + 'catalog');
                    urlToFetch = urlToFetch.replace('${PA_SCHEDULER_REST_URL}', origin + 'rest');
                    urlToFetch = urlToFetch.replace('${PA_SCHEDULER_REST_PUBLIC_URL}', origin + 'rest');
                    $.ajax({url: urlToFetch,
                        async: false,
                        dataType: "text",
                        success: function(data) {
                        model = data;
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert("Could not fetch model from url '" + urlToFetch + "': " + xhr.responseText);
                        }
                    });
                    // failure to fetch implies no change in the model
                }
            }
            if (model && model.toLowerCase().indexOf('pa:list')==0) {  %>
            <div class="col-md-4 container-flex">
                <select class="form-control variableValue" name="<%- key %>" id="<%- key %>" title="<%- description %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" >
                <%
                var indexBegin = model.indexOf('(');
                var indexEnd = model.lastIndexOf(')');
                var options = model.substring(indexBegin +1 , indexEnd).split(',');
                for (var i in options) {
                    var option = options[i].trim();
                    if (option === variable.Value) { %>
                    <option selected><%- option %></option>
                    <%
                    } else
                    %>
                    <option><%- option %></option>
                <%
                }
                %>
                </select>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            } else if ((model && model.toLowerCase().indexOf('pa:boolean')==0) ) {
            %>
            <div class="variableValue radio-div col-md-4" id="<%- key %>" title="<%- description %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>">
            <%
                if (variable.Value && (variable.Value.toLowerCase() === 'true' || Number(variable.Value) > 0)) {%>
                <label class="radio-inline"><input type="radio" name="<%- key %>" value="true" checked/>TRUE</label>
                <label class="radio-inline"><input type="radio" name="<%- key %>" value="false"/>FALSE</label>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs pull-right" value="<%- key %>" title="Delete variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs pull-right">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs pull-right" value="<%- key %>" title="Edit variable" type="button"></button>
                <%
                } else
                %>
                <label class="radio-inline"><input type="radio" name="<%- key %>" value="true"/>TRUE</label>
                <label class="radio-inline"><input type="radio" name="<%- key %>" value="false" checked/>FALSE</label>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs pull-right" value="<%- key %>" title="Delete variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs pull-right">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs pull-right" value="<%- key %>" title="Edit variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:hidden')==0) {
            %>
            <div class="col-md-4 container-flex">
                <input class="variableValue textareavalues submitVariableValue" name="<%- key %>" type="password" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" autocomplete="new-password" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:credential')==0) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:global_file') ==0 ) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button value="<%- key %>" class="var-globalfile-button btn far fa-folder-open input-button" type="button" title="Browse Global Space files, Upload, and Select one file"></button>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:user_file') ==0 ) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button value="<%- key %>" class="var-userfile-button btn far fa-folder-open input-button" type="button" title="Browse User Space files, Upload, and Select one file"></button>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:global_folder') ==0 ) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button value="<%- key %>" class="var-globalfolder-button btn far fa-folder-open input-button" type="button" title="Browse, Upload Global Space files, and Select one folder"></button>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:user_folder') ==0 ) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button value="<%- key %>" class="var-userfolder-button btn far fa-folder-open input-button" type="button" title="Browse, Upload User Space files, and Select one folder"></button>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && model.toLowerCase().indexOf('pa:catalog_object') ==0 ) {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- variable.Name %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button title="Select one catalog object" value="<%- key %>" class="var-catalogobject-button btn input-button" type="button"><img src="images/catalog-portal.png" height="20"></button>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfoWButton col-md-5">
                <div class="variableInfo">
                    <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                    <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
                </div>
            </div>
            <%
            } else if (model && (model.toLowerCase().indexOf('pa:not_empty_string') == 0 || model.toLowerCase().indexOf('pa:json') == 0 || model.toLowerCase().indexOf('pa:spel') == 0 || model.toLowerCase().indexOf('pa:regexp') == 0) ) {
            %>
            <div class="col-md-4 container-flex">
                <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- key %>" title="<%- description %>" id="<%- key %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>"><%- variable.Value %></textarea>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            } else if (!model) {
            %>
            <div class="col-md-4 container-flex">
                <textarea class="variableValue textareavalues submitVariableValue" rows=1 name="<%- key %>" title="<%- description %>" id="<%- key %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>"><%- variable.Value %></textarea>
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            } else {
            %>
            <div class="col-md-4 container-flex">
                <input type="text" class="variableValue textareavalues submitVariableValue" name="<%- key %>" title="<%- description %>" id="<%- key %>" value="<%- _.escape(variable.Value) %>" data-variable-model="<%- model %>" data-variable-description="<%- description %>" data-variable-group="<%- group %>" data-variable-advanced="<%- advanced ? 'true' : 'false' %>"  data-variable-hidden="<%- hidden ? 'true' : 'false' %>" />
                <button class="btn btn-default var-edit-btn glyphicon glyphicon-edit text-link m-l-xxs" value="<%- key %>" title="Edit variable" type="button"></button>
                <div class="btn-group container-flex m-l-xxs">
                    <button type="button" class="btn btn-default var-up-btn glyphicon glyphicon-arrow-up p-w-xxs" value="<%- key %>" title="Move up Variable" <%= variable.isTop ? 'disabled' : '' %> ></button>
                    <button type="button" class="btn btn-default var-down-btn glyphicon glyphicon-arrow-down p-w-xxs" value="<%- key %>" title="Move down Variable" <%= variable.isBottom ? 'disabled' : '' %> ></button>
                </div>
                <button class="btn btn-danger var-delete-btn glyphicon glyphicon-trash m-l-xxs" value="<%- key %>" title="Delete variable" type="button"></button>
            </div>
            <div class="variableInfo col-md-5">
                <label class="font-smaller" data-help-self data-help="<%- description %>"><%- description %></label>
                <label class="font-smaller text-muted" data-help-self data-help="<%- model %>"><%- model %></label>
            </div>
            <%
            }
            %>
        </li>
    <%
        }
    }
    %>
    <li class="formLayout container-flex ">
        <div class="col-md-3"></div>

        <div class="col-md-4 container-flex" style="flex-direction: row-reverse;">
            <button id="add-variable-btn" class="btn btn-success var-add-btn m-l-xxs" title="Add a new variable" type="button" style="width: 85px">
                <i class="glyphicon glyphicon-plus"></i><span class="m-l-xxs">Add</span>
            </button>
        </div>
        <div class="variableInfo col-md-5">
        </div>

    </li>
</ul>
<label id="variables-view-error"style="color:red;text-align:center;width:100%"></label>